<div class="col-md-12  mt-2 mb-2"
     style="border:solid #0b2e13 1px;margin: 0 auto; ">

  <form novalidate [formGroup]="docsForm" class="form-container">

    <div class="row">
      <div class="col-md-8 divTitle">
        <textarea class="form-control"  [(ngModel)]= "title.content"
                  [formControlName]=title.tid placeholder="Title of paper" rows="3"></textarea>
      </div>
    </div>


    <div class="col-md-8 divMainAuthor">

      <div class="row" style="margin: 0 auto">

        <div class="col-md-3 divAuthor" *ngFor="let auth of author ;index as authIndex">
          <h6>Author</h6>
          <i class="fa fa-times-circle btn-cross-style close pos-absolute" style="margin: 0 auto "
             (click)="removeAuthor(authIndex)"></i>
          <i class="fa fa-plus-circle  pos-absolute pos-absolute-add" (click)="addAuthor(authIndex)"></i>
          <textarea class="form-control" [(ngModel)]="auth.content" placeholder=" Enter Author details" rows="4"
                    [formControlName]=auth.aid></textarea>


        </div>


      </div>
    </div>
    <!------------the auther group end----------->

    <div class="row container-para">

      <div class="col-md-8 divPara  " *ngFor="let item of data ;trackBy: trackById; index as firstPr " style=" position: relative">

        <div class="col-md-10">


          <h6>Main heading</h6>

          <h3>{{item.heading}}</h3>
          <h5>{{item.content}}</h5>

          <i class="fa fa-times-circle btn-cross-style close pos-absolute" (click)="removePara(null,null, firstPr)"
             style="margin: 0 auto "></i>
          <i class="fa fa-plus-circle  pos-absolute pos-absolute-add" id="mainLabel"
             data-target="openMainCategoryDropdown" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">

            <a href="javascript:void(0)" class="">
              <ul style="margin:10px; width:212px" class="dropdown-menu" id="openMainCategoryDropdown"
                  aria-labelledby="subLabel">
                <li style="padding:10px" (click)="addOption(null,null, firstPr,'heading')">Heading</li>
                <li style="padding:10px" (click)="addOption(null,null, firstPr,'subHeading')">SubHeading</li>
              </ul>
            </a>
          </i>

          <input type="text" class="form-control" [(ngModel)]="item.heading" placeholder=" Enter heading"
                 [formControlName]=item.id><br>
          <textarea class="form-control" [(ngModel)]="item.content" placeholder=" Enter content"
                    [formControlName]=item.cid></textarea>

          <!--<div ngClass="{'hide': !arrayLength(subitem),'show': arrayLength(subitem)}"></div>-->

        </div>

        <div *ngIf="item.sub1">
          <div *ngFor="let subitem of item.sub1 ;trackBy: trackById; index as secondPr " class="{{item.class}} pos-relative">

            <h6>Subheading </h6>


            <i class="fa fa-times-circle btn-cross-style close pos-absolute"
               (click)="removePara(null,secondPr, firstPr)" style="margin: 0 auto "></i>
            <i class="fa fa-plus-circle  pos-absolute pos-absolute-add" id="subLabel"
               data-target="openSubCategoryDropdown" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">

              <a href="javascript:void(0)" class="">
                <ul style="margin:10px; width:212px" class="dropdown-menu" id="openSubCategoryDropdown"
                    aria-labelledby="subLabel">
                  <li style="padding:10px" (click)="addOption(null,secondPr, firstPr,'heading')">Heading</li>
                  <li style="padding:10px" (click)="addOption(null,secondPr, firstPr,'subHeading')"
                      *ngIf="isZeroLength(subitem.sub1.length)">SubHeading
                  </li>
                </ul>
              </a>
            </i>
            <input type="text" class="form-control" [(ngModel)]="subitem.heading" placeholder=" Enter heading"
                   [formControlName]=subitem.id><br>
            <textarea class="form-control" [formControlName]=subitem.id rows="3" [(ngModel)]="subitem.content"
                     ></textarea>


            <div *ngIf="item.sub1">
              <div *ngFor="let nestedsubitem of subitem.sub1 ;trackBy: trackById; index as thirdPr" class="{{item.class}} pos-relative">

                <h6>Subheading </h6>
                <h3>{{nestedsubitem.heading}}</h3>
                <h3>{{nestedsubitem.content}}</h3>

                <i class="fa fa-times-circle btn-cross-style close pos-absolute"
                   (click)="removePara(thirdPr,secondPr, firstPr)" style="margin: 0 auto "></i>
                <i class="fa fa-plus-circle  pos-absolute pos-absolute-add"
                   (click)="addOption(thirdPr,secondPr, firstPr,'heading')">
                </i>

                <input type="text" class="form-control" [(ngModel)]="nestedsubitem.heading" placeholder=" Enter heading"
                       [formControlName]=nestedsubitem.id><br>
                <textarea class="form-control" [formControlName]=nestedsubitem.id rows="3" [(ngModel)]="nestedsubitem.content"
                          ></textarea>


              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </form>
  <button class="btn-default"  type="submit" (click)="formSubmit()"> Generate</button>
</div>







